<!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Пирог</title>
        <link rel="stylesheet" href="../static/Test%20style.css">
    </head>
    <body>
        <h1>Рецепт яблочного пирога</h1>
        <p>Далее приведён рецепт.</p>
        <ol>
            <li class="main-ingredient">Яблоко</li>
            <li class="main-ingredient">Мука</li>
            <li>Соль</li>
            <li>Сахар</li>
        </ol>
        <img src="../static/img.png" width="500">
        <p id="appetite">Приятного аппетита</p>
    </body>
    <script src="../static/Test.js"></script>
</html>