<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CV</title>
        <link rel="stylesheet" href="../static/Test%20style.css">
    </head>
    <body>
        <h1>Джабраилов Виталий Дмитриевич</h1>
        <p class="h_education" >Навыки:</p>
        <ol class="education" >
            <li class="education">Программирование Python</li>
            <li class="education">Что-нибудь ещё</li>
        </ol>

        <p class="h_education" >Достижения:</p>
        <ol class="education" >
            <li class="education">Мирмикологическая конференция "Муравьи и защита леса" </li>
            <li class="education">Олимпиада "Я профессионал"</li>
            <li class="education">Всероссийская олимпиада школьников</li>
        </ol>

    <p>Вернуться к <a href="{{ url_for('home') }}">визитной карте</a></p>
    </body>
    </html>